.header {
  padding-top: 4rem;
  background-color: #87ca96;
}

#projects {
  background-color: #87ca96;
  padding-top: 4rem;
}


#blog {
  padding-top: 4rem;
}

#contact {
  background-color: #87ca96;
  padding-top: 4rem;
}

