.header {
  padding-top: 4rem;
  background-color: #87ca96;
}

#projects {
  background-color: #87ca96;
  padding-top: 4rem;
}
#about {
  padding-top: 4rem;
  background-color: #ffff;
}

#blog {
  padding-top: 4rem;
  background-color: #ffff;
}

#team {
  background-color: #87ca96;
  padding-top: 4rem;
}

#contact {
  padding-top: 4rem;
  background-color: #ffff;
}

